<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>risset.net - $title$</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    <header>
      <nav>
	<a href="/"><span id="home">risset.net<span style='color: #808080'>「</span>リセット<span style='color: #808080'>」</span></span></a>
	<a href="https://github.com/risset">github</a>
      </nav>
    </header>

    <main role="main">
      $body$
    </main>

    <footer>
      © 2020 <b>Liam Wyllie</b>
    </footer>
  </body>
</html>
